<div ng-controller="homeController" class="container">
  <div class="row">
    <div class="col-md-3 ver-separator">
      <p class="smart-filter-text"><i class="fas fa-lightbulb"></i>   Smart Filters</p>
      <div class="hor-separator"></div>

      <div class="row filter-switch">
      <div class="col-md-5"><i class="fas fa-money-bill fa-3x"></i></div>
      <div class="col-md-7"> <label class="switch"><input type="checkbox" checked><span class="slider round"></span></label></div>
      </div>

      <div class="row filter-switch">
      <div class="col-md-5"><i class="fas fa-calendar-alt fa-3x"></i></div>
      <div class="col-md-7"> <label class="switch"><input type="checkbox" checked><span class="slider round"></span></label></div>
      </div>

      <div class="row filter-switch">
      <div class="col-md-5"><i class="fas fa-heart fa-3x"></i></div>
      <div class="col-md-7"> <label class="switch"><input type="checkbox" checked><span class="slider round"></span></label></div> 
      </div>

      <div class="hor-separator"></div>
      <div class="row status-section">
        <p class="smart-filter-text">Status</p>

        <input class="input-status" type="text" placeholder="search" name="">
      
      
        <a class="btn-delivered" href="#">DELIVERED</a>

    </div>
    
    <div class="col-md-9">
      
  
    </div>
  </div>

 
</div>