<div ng-controller="homeController" class="container">
  <div class="row">
    <div class="col-md-3 ver-separator">
      <p class="smart-filter-text"><i class="fas fa-lightbulb"></i>   Smart Filters</p>
      <div class="hor-separator"></div>

      <div class="row filter-switch">
      <div class="col-md-5"><i class="fas fa-money-bill fa-3x"></i></div>
      <div class="col-md-7"> <label class="switch"><input type="checkbox" checked><span class="slider round"></span></label></div>
      </div>

      <div class="row filter-switch">
      <div class="col-md-5"><i class="fas fa-calendar-alt fa-3x"></i></div>
      <div class="col-md-7"> <label class="switch"><input type="checkbox" checked><span class="slider round"></span></label></div>
      </div>

      <div class="row filter-switch">
      <div class="col-md-5"><i class="fas fa-heart fa-3x"></i></div>
      <div class="col-md-7"> <label class="switch"><input type="checkbox" checked><span class="slider round"></span></label></div> 
      </div>

      <div class="hor-separator"></div>
      <div class="row status-section">
        <p class="smart-filter-text">Status</p>

        <input class="input-status" type="text" placeholder="search" name="">
      
      
        <a class="btn-delivered" href="#">DELIVERED</a>
      </div>

    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-2">
          <label class="contain">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-md-10 text-right">
          <input type="search" class="search-input-big" placeholder="search" name="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label class="contain chk-ship">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-md-10">
           <div class="row container-shipment">
             <div class="col-md-2 date">
               Friday 23th 7:43 PM
             </div>
             <div class="col-md-3 trip">
               <div class="row">
                 Houston, TX, 33635
                </div>
                <div class="row angle-down">
                  <i class="fas fa-angle-down fa-2x"></i>
                </div>
                <div class="row">
                 Atlanta, CA, 30123
                </div>
             </div>
             <div class="col-md-2 transport">
               <i class="fas fa-truck fa-3x"></i>
             </div>
             <div class="col-md-3 price">
               <h1>$250.00</h1>
             </div>
             <div class="col-md-1 notification">
               <p>1</p>
             </div>
             <div class="col-md-1 setting">
               <i class="fas fa-ellipsis-v fa-2x"></i>
             </div>
           </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <label class="contain chk-ship">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-md-10">
           <div class="row container-shipment">
             <div class="col-md-2 date">
               Friday 23th 7:43 PM
             </div>
             <div class="col-md-3 trip">
               <div class="row">
                 Houston, TX, 33635
                </div>
                <div class="row angle-down">
                  <i class="fas fa-angle-down fa-2x"></i>
                </div>
                <div class="row">
                 Atlanta, CA, 30123
                </div>
             </div>
             <div class="col-md-2 transport">
               <i class="fas fa-truck fa-3x"></i>
             </div>
             <div class="col-md-3 price">
               <h1>$250.00</h1>
             </div>
             <div class="col-md-1 notification">
               <p>1</p>
             </div>
             <div class="col-md-1 setting">
               <i class="fas fa-ellipsis-v fa-2x"></i>
             </div>
           </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <label class="contain chk-ship">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-md-10">
           <div class="row container-shipment">
             <div class="col-md-2 date">
               Friday 23th 7:43 PM
             </div>
             <div class="col-md-3 trip">
                <div class="row">
                 Houston, TX, 33635
                </div>
                <div class="row angle-down">
                  <i class="fas fa-angle-down fa-2x"></i>
                </div>
                <div class="row">
                 Atlanta, CA, 30123
                </div>
             </div>
             <div class="col-md-2 transport">
               <i class="fas fa-truck fa-3x"></i>
             </div>
             <div class="col-md-3 price">
               <h1>$250.00</h1>
             </div>
             <div class="col-md-1 notification">
               <p>1</p>
             </div>
             <div class="col-md-1 setting">
               <i class="fas fa-ellipsis-v fa-2x"></i>
             </div>
           </div>
        </div>
      </div>


    </div>
  </div>

 
</div>